{{#if transformConnectors}}
  <ul class="connectors">
    {{#each transformConnectors}}
      <li class="{{unbound name}}">
        <div {{bind-attr class="name active :connector"}}
             {{action 'toggleConnector' this}}>
          {{symbol}}
        </div>
      </li>
    {{/each}}
  </ul>
{{/if}}

<div class="solar-system">
  <div class="header">
    <h2>
      {{name}}
      <div class="controls">
        {{#if transformations}}
            <button {{action 'undo'}}>Undo</button>
        {{/if}}
      </div>
    </h2>
  </div>

  <form {{action 'addPlanet' planetName on="submit"}}>
    {{input type="text" value=planetName placeholder="Enter a planet name"}}
    <button type="submit">Add</button>
  </form>

  <ul class="planets">
  {{#each planets}}
    <li>{{name}} <button {{action 'removePlanet' id}}>X</button></li>
  {{/each}}
  </ul>

  {{#if transformations}}
    <div class="transformations">
      <ul>
      {{#each transformations}}
        <li>
          <div class="operation">{{operationJSON}}</div>
          <div class="inverse">{{inverseJSON}}</div>
        </li>
      {{/each}}
      </ul>
    </div>
  {{/if}}
</div>
