{{#if transformConnectors}}
  <h3>Connectors</h3>
  <ul>
    {{#each transformConnectors}}
      <li>
        {{name}}
        {{#if active}}
            <button {{action 'deactivateConnector' this}}>Deactivate</button>
        {{else}}
            <button {{action 'activateConnector' this}}>Activate</button>
        {{/if}}
      </li>
    {{/each}}
  </ul>
{{/if}}
<h3>Planets</h3>
<ul>
{{#each planets}}
  <li>{{name}} <button {{action 'removePlanet' id}}>X</button></li>
{{/each}}
</ul>
<form {{action 'addPlanet' planetName on="submit"}}>
  {{input type="text" value=planetName placeholder="Enter a planet name"}}
  <button type="submit">Add</button>
</form>

<ul>
{{#each transformations}}
  <li>
    operation: {{operationJSON}}<br />
    inverse: {{inverseJSON}}
  </li>
{{/each}}
{{#if transformations}}
  <button {{action 'undo'}}>Undo</button>
{{/if}}
</ul>
